body {
    font-family: 'Roboto', sans-serif;
}
.title{
    display: flex;
    justify-content: space-around;
}
.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 15px; 
}

.hotel-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    height: 200px;

}

.hotel-card h2 {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.hotel-card p {
    font-size: 16px;
}

.hotel-card img {
    width: 300px; 
    height: 100%;
    margin-right: 8px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input[type="text"],
.search input[type="date"],
input[type="number"],
.search select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.select{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.search button:hover {
    background-color: #0056b3;
}

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger strong {
    font-weight: bold;
}

.select-container {
    position: relative;
}

.select-container select {
    padding-left: 30px;
}

.select-container i {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; 
}

.btn-filter  {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0ac211;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-filter:hover {
    background-color: #07950d;
}

.amenties {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: small;
    color: #7d7d7d;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}